*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    max-width: 1400px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    margin-top: 5pxpx;
}
.nav-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    
}
.nav-logo img {
    height: 25px;
    
}
.nav-items{
list-style: none;
display: flex;
justify-content: space-around;
align-items: center;
gap: 22px;
}
.nav-logo h1{
    font-size: 28px;
    font-weight: bolder;
}
.nav-logo span {
    color: rgb(247, 58, 153);
}
.nav-items li {
    font-size:17px ;
}

.nav-items li a {
   padding-left: 3px ;
   text-align: center;
}
.fa-brands  {
    color: red;
    padding-left: 5px;
    
}
.nav-social-link{
    background-color: rgb(198, 196, 196);
    padding: 5px 15px;
    border-radius: 3px;
}
/* nav section end */
/* banner section starts */

.banner-container{
    
    max-width: 1400px;
    height: 100vh;
    display: flex;
    

}
.banner-text{
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    text-align: left;
    padding-top: 150px;
    padding-left: 140px;
}
.banner-text h2{
    font-size: 1.5rem;
    padding-bottom: 12px;
}
.banner-text p{
    
    padding-bottom: 12px;
}
.banner-text p i{
    height: 5px;
    color:rgb(247, 58, 153) ;

    }
.banner-text h1{
    font-size: 3.5rem;
    font-weight: bolder;
    background-image: linear-gradient(to bottom, rgb(247, 58, 153),rgb(151, 10, 151));
    color: transparent;
    -webkit-background-clip: text;
    padding-bottom: 12px;

}

.banner-image{
    width: 50%;
    

}
.banner-image img{
    width: 75%;
    height: 100%;
    

}
.sign{
    text-decoration: none;
    background-color: rgb(247, 58, 153);
    color: aliceblue;
    font-weight: 100;
    padding: 12px 18px;
    border-radius: 10px;
    margin-top: 20px;
}
.rogue{
    background-color: rgb(41, 177, 231);
}
.banner-text a{
    margin-right: 20px;
}
.fa-user-plus{
    margin-bottom: 40px;
}
/* banner section ends*/



/* media query starts*/
/* for mobile*/
@media screen and (max-width:576px){
    .nav-container{
       flex-direction: column;
        align-items: center;
       }
       .nav-items{
     
        flex-direction: column;
       
        }
    }

    /* for tablet*/
    @media screen and (min-width:577px) and (max-width:768px) {
        
        .nav-container{
            flex-direction: column;
             align-items: center;
            }
            .nav-items{
          
             flex-direction: column;
            
             }
    }

