*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    max-width: 1400px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    margin-top: 5pxpx;
}
.nav-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    
}
.nav-logo img {
    height: 25px;
    
}
.nav-items{
list-style: none;
display: flex;
justify-content: space-around;
align-items: center;
gap: 22px;
}
.nav-items li a{
    text-decoration: none;
    color: black;
    
}
.nav-items li a:hover{
    text-decoration: none;
    color:rgb(247, 58, 153);
    
}
.nav-logo h1{
    font-size: 28px;
    font-weight: bolder;
}
.nav-logo span {
    color: rgb(247, 58, 153);
}
.nav-items li {
    font-size:17px ;
   
}

.nav-items li a {
   padding-left: 3px ;
   text-align: center;
}
.fa-brands  {
    color: rgb(3, 3, 42);
    padding-left: 7px;
    text-align: center;
   
    
}
.youtube{
    color: red;
}
.nav-social-link{
    background-color: rgb(198, 196, 196);
    padding: 5px 15px;
    border-radius: 3px;
}
/* nav section end */
/* banner section starts */

.banner-container{
    
    max-width: 1400px;
    height: auto;
    display: flex;
    margin-top: 15px;
    

}
.banner-text{
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding-top: 80px;
    padding-left: 140px;
}
.banner-text h2{
    font-size: 1.5rem;
    padding-bottom: 12px;
}
.banner-text h2:hover{
    color:rgb(41, 152, 41);
   
}
.banner-text p{
    
    padding-bottom: 12px;
   
}
.banner-text p i{
    height: 5px;
    color:rgb(247, 58, 153) ;

    }
.banner-text h1{
    font-size: 3.5rem;
    font-weight: bolder;
    background-image: linear-gradient(to bottom, rgb(250, 88, 169),rgb(75, 7, 75));
    color: transparent;
    -webkit-background-clip: text;
    padding-bottom: 12px;

}

.banner-image{
    width: 50%;
    

}
.banner-image img{
    width: 75%;
    height: 100%;
    }

.sign{
    text-decoration: none;
    background-color: rgb(247, 58, 153);
    color: aliceblue;
    font-weight: 100;
    padding: 12px 18px;
    border-radius: 10px;
    margin-top: 20px;
}
.sign:hover{
    background-color:rgb(41, 152, 41);
}
.rogue{
    background-color: rgb(41, 177, 231);
}
.banner-text a{
    margin-right: 20px;
}
.fa-user-plus{
    margin-bottom: 40px;
}
/* banner section ends*/

/* funny videos container starts*/

.funny-videos-container{
    max-width: 1400px;
    overflow-x: hidden;


}
.funny-videos-container h1{
    font-size: 1.9rem;
    text-align: center;
    margin-top: 60px;

}
.funny-videos-container p{
    text-align: center;
    padding-top: 14px;

}

.funny-span{
    font-size: 2rem;
    font-weight: bolder;
    background-image: linear-gradient(to bottom, rgb(250, 88, 169),rgb(75, 7, 75));
    color: transparent;
    -webkit-background-clip: text;
    padding-bottom: 12px;


}

.container{
    position: relative;
    margin-right: 13px;
    
   
  
    
}
.image{
    display: block;
   
  
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 290px;
    right:0 ;
    opacity: 0;
    transition: 0.5s ease;
    background-image: linear-gradient(black, rgb(54, 53, 53));
    border-radius: 12px;
}
.container:hover .overlay{
    opacity: 1;
}
.play-container p{
    text-align: center;
}
.play-container{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 60px;
    gap: 40px;
}
 
.text{
    color: aliceblue;
    font-size: 20px;
    position: absolute;
    top: 50%;
    
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}



/* funny videos container ends*/

/* play instantly starts  */

.play-instantly-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1400px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 130px;
    position: relative;
    height: 100vh;

}
.play-instantly-text{
    width: 50%;
    padding-left: 115px;
    
    

}
.play-instantly-text h1{
    font-size: 2.7rem;
    margin-bottom: 20px;
}
.play-instantly-text h1:hover{
  color:rgb(41, 152, 41);

}
.play-instantly-text span{
    font-size: 2.5rem;
    font-weight: bolder;
    background-image: linear-gradient(to bottom, rgb(247, 61, 154),rgb(75, 7, 75));
    color: transparent;
    -webkit-background-clip: text;
    padding-bottom: 12px;

}
.play-instantly-image{
    width: 50%;
    }

.bedge{
    bottom: 100px;
    margin-top: -180px;
    margin-left: -93px;
   
}
.horse-man{
    width: 75%;
    height: 400px;
    text-align: center;

}


/* play instantly ends*/
/* tablet container starts*/

.tablet-section{
    max-width: 1440px;
    margin-top: 150px;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    height: 250px;
    


}
.tablet-container{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    text-align: left;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    row-gap: 28px;
   }

.tablet-pic{
    border: 1px solid transparent;
    background-color:rgb(250, 252, 253);
    border-radius: 34px;
    display: flex;
    align-items: center;
    gap: 14px;
    width: 170px;
    padding: 7px 15px;
    margin: 0 auto;
    
   
}
.tablet-pic img{
    height: 50px;
}

.tablet-container p{
    font-weight: 600;
}
.tablet-container p:hover{
    color:rgb(238, 66, 152) ;
}

 .three:hover{
    border: 1px solid rgb(238, 66, 152);
}
/* tablet ends*/
footer{
    max-width: 1400px;
    background-color:rgb(2, 2, 57);
    text-align: center;
    height: 400px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    overflow-x: hidden;
   
}
.footer-row-1{
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 35px;
}
.footer-row-1 img{
   height: 30px;
}
.footer-row-1 h1{
   font-size: 29px;
}
.footer-row-1 span{
   color:  rgb(247, 38, 143);
}
.footer-row-2{
    display: flex;
    justify-content: center;
    gap: 38px;
    margin-bottom: 35px;
    
}
.footer-container .footer-row-2  p{
    font-size: 16px;
}
.footer-container .footer-row-5  p{
    font-size: 16px;
}

.icons i{
    font-size: 30px;
    color: aliceblue;
    margin-right: 23px;
    margin-bottom: 35px;
}
.footer-row-5{
    margin-bottom: 35px;
}

/* media query starts*/
/* for mobile*/
@media screen and (max-width:576px){
    .nav-container{
       flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 70px;
       }
       .nav-logo{
        margin-bottom: 20px;
    }
       .nav-items{
     
        flex-direction: column;
       
        }
        .banner-container{
          
           flex-direction: column-reverse;
            
        
        }
        .banner-text{
           width: 100%;
           padding-top: 30px;
          padding-left: 0px;
            margin: 0 auto;
            text-align: center;
            height: 250px;
           
        }
        .banner-text p{
    
            padding-bottom: 3px;
        }

        .sign{
           
            font-weight: 100;
            padding: 5px 12px;
            border-radius: 10px;
            margin-top: 10px;
        }
        .fa-user-plus{
            margin-bottom: 30px;
        }
        .banner-image{
            width: 100%;
            margin-bottom: 20px;
            margin-top: 30px;
        
        }
        .banner-image img{
            width: 100%;
            height: 100%;
            text-align: center;
            margin-top: 25px;
            
        
        }


        .play-container{
            flex-direction: column;
            width: 100%;
            margin: 0 auto;
            margin-top: 40px;
            
          
          }
          .play-container img{
              margin-left: 90px;
          }
          .play-container p{
              text-align: center;
          }
                  
               
       

         .play-instantly-container{
            flex-direction: column;
            height: auto;
            margin-top: 30px;
            margin-bottom: 50px;
         }
         .play-instantly-text h1{
            font-size: 1.5rem;
            text-align: center;
         }
         .play-instantly-text {
          padding-left: 0;
           width: 100%;
         }
         .play-instantly-text p {
          
           width: 100%;
           text-align: center;
         }
         .play-instantly-image{
            width: 100%;
            text-align: center;
            padding-left: 80px;
            margin-top: 40px;
            
         }

         .bedge{
           
            margin-top: -180px;
            margin-left: -240px;
           
        }
        .bedge img{
            height: 200px;
        }
        .horse-man{
            width: 67%;
            height: 400px;
            text-align: center;
        
        }
        

        .tablet-container{
            display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        row-gap: 18px;
        column-gap: 10px;
    
    
        }
        .tablet-pic{
           
          font-size: 10px;
            gap: 4px;
            width: 100px;
            padding: 4px 10px;
            margin: 0 auto;
            
           
        }
        .tablet-pic img{
            height: 26px;
        }
        .three:hover{
            border: 1px solid rgb(238, 66, 152);
        }

        }

        .footer-container{
            width: 80%;
        }
        .footer-row-1, .footer-row-2, .footer-row-5{
            margin-bottom: 25px;
            font-size: 10px;
        }
        .icons i{
            font-size: 24px;
            margin-right: 17px;
            margin-bottom: 25px;
        }
    /* for tablet*/
    @media screen and (min-width:577px) and (max-width:768px) {
        
        .nav-container{
            flex-direction: column;
             align-items: center;
             margin-top: 70px;
            }
            .nav-logo{
                margin-bottom: 20px;
            }
            .nav-items{
          
             flex-direction: column;
            
             }
             .banner-container{
                margin-top: 80px;
                flex-direction: column;
                overflow-x: hidden;
               
               
                 }
                 .banner-text{
                  
                    width: 100%;
                    text-align: center;
                    height: 240px;
                    padding-top: 17px;
                    padding-left: 15px;
                }

                .banner-text p{
    
                    padding-bottom: 3px;
                }
                .banner-text h1{
                    font-size: 3rem;
                    font-weight: bolder;
                    padding-bottom: 8px;
                
                }
                .banner-text h2{
                    font-size: 1.2rem;
                    padding-bottom: 8px;
                }

                .banner-image {
                    width: 65%;
                    margin: 0 auto;
                    margin-top: 25px;
                   
                    
                
                }
                .banner-image img{
                    width: 100%;
                    margin: 0 auto;
                    height: auto;
                   
                    margin-top: 25px;
                    
                
                }
      
                .play-container{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                   }  
    
                 .play-container p{
                 text-align: center;
                  }  
                  .play-container img{
                    margin-left: 26px;
                }        
    


.play-instantly-container{
    justify-content: space-between;
    height: auto;
    gap: 70px;
    margin-bottom: 50px;
}
.play-instantly-text{
    padding-left: 80px;
}
.bedge img{
    height: 170px;
    
}
.bedge{
    margin-top: -130px;
    margin-left: -80px;
}

.horse-man{
    width: 79%;
    height: 400px;
    text-align: center;

}

.tablet-section{
    width: 100%;
    margin-bottom: 40px;
}

                 .tablet-container{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    row-gap: 18px;
                    column-gap: 10px;
                    overflow-y: hidden;
                    width: 100%;
                    height: auto ;
                   
             }
             .tablet-pic{
           
                font-size: 15px;
                  gap: 19px;
                 width: 230px;
                  padding: 6px 4px;
                  margin: 0 auto;
                  
                 
              }

              .three:hover{
                border: 1px solid rgb(238, 66, 152);
            }
              .footer-container{
                width: 90%;
               
            }
            .footer-row-1, .footer-row-2, .footer-row-5{
                margin-bottom: 30px;
            }
            .icons i{
                font-size: 30px;
                margin-right: 20px;
                margin-bottom: 30px;
            }
             
    }




